body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}


.topnav{
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.09);
}

.logo{
    text-decoration: none;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin: 8px 100px 16px 30px;
}
.flex-container{
    display: flex;
    align-items: center;
    top: 20px;
    height: 80px;
    width: 100vw;
    z-index:-1;
}

.navname{
    text-decoration: none;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    padding: 0px 20px 0px 20px;
}


h1{
    font-family: 'Unna', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    color: #000000;
}
.h1-container{
    position: absolute;
    width: 100vw;
    align-items: center;
    background-color: transparent;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 200px;
    left: 25vw;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.button-container button{
    align-items: center;
    background: #B9CEEE;
    border-radius: 20px;
    border: none;
    width: 112px;
    height: 48px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    font-family: Unna;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 30px 15px 30px;
    cursor: pointer;
}

.table-overlay{
    position:fixed;
    top:0;
    left:0;
    flex-wrap: wrap;
    /* left: 300px;
    top: 200px; */
    display: none;
    /* width: 960px;
    height: 480px; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12);
}

.table-overlay h2{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 170px;
    font-family: 'Unna', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    color: #000000;
    width: 60%;
    background-color: #F1F6FF;
    z-index: 3;
}
.table-overlay table{
    position: absolute;
    top: 250px;
    width: 60%;
    border-collapse: separate;
    background-color: white;
    z-index: 3;
}

.timing-header{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;    
    font-weight: 500;
    box-shadow : 0px 2px 4px rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
    background-color: white;
}

.day-header{
    padding: 12px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    background-color: white;
}

.period-cell{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align-last: justify;
    text-justify: inter-character;
    color: #000000;
    width: 96px;
    height: 50px;
    padding: 10px 30px;
}
